
$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;
$button-blue: #4d82cb;;
$modal-success-background: #b6e3ff;

.row {
    // background-color: #f2b8b8;
    // color: red;
}

i {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

// .alertDangerClass {
//     background-color: #f2b8b8;
//     color: red;
// }

.alertSuccessClass {
    background-color: $modal-success-background;
    color: $secondary;
}

.alertDangerClass,
.alertInfoClass {
    background-color: #f2b8b8;
    color: $secondary;
}

.hidden {
    visibility: hidden;
}

.f-2 {
    font-size: 2rem;
}

.modal {
    button {
        background: #0277bd;
    }
}