<div class="container-fluid px-0" id="footer-container">
    <footer class="d-flex flex-column align-items-center">
        <div class="row d-flex p-4">
            <div class="col-12 col-md-6 footer-col">
                <span id="business" class="d-block font-weight-bold">EMCIL FASHION</span>
                <span class="d-block">(905) 517-9314</span>
                <span class="d-block">emcilfashion@yahoo.com</span>
            </div>
            <div class="col-12 d-md-flex flex-column col-md-6 mt-4 mt-lg-0 footer-col">
                <span class="d-block font-weight-bold">Keith K. Wilson, Developer</span>
                <span class="d-block">Principal Software Engineer</span>
                <span class="d-block">Small Business Information Systems</span>
                <span class="d-block">(905) 515-7660</span>
            </div>
        </div>
    </footer>
</div>