// $primary: #b0bec5; 
// $secondary: #808e95;
// $tertiary: #e2f1f8;

$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;

// $primary: #82b1ff; 
// $secondary: #4d82cb;
// $tertiary: #b6e3ff;



.navbar {
    background: $secondary;
    color: white;
    
    a {
        color: white !important;
    }
}

footer {
    background: #004c8c;
    color: white;
    
    .fooer-col {
        min-width: 397px;
    }
}