$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;

.navbar {
    background: $secondary;
    color: white;
    
    a {
        color: white !important;
    }
}

footer {
    background: #004c8c;
    color: white;    
}