<app-header></app-header>
<div class="container top-spacing">
    <app-page-header [headerName]="headerName" [destination]="destination" [destinationIcon]="destinationIcon" [link]="link">
    </app-page-header>
</div>
<div class="container mb-5 view-height" id="order-picker">
    <section class="pt-4">
        <div class="row mb-3">
            <div class="col-12 " id="order-no">
                <span class="mr-2">Order No.:</span>
                <span id="no">{{order.order_no}}</span>
            </div>
        </div>
        <!-- <section class="mb-2"> -->
        <div class="row mb-3">
            <div class="col-12 d-flex d-lg-flex align-items-baseline" *ngIf="order.status != 'S'">
                <label class="mr-2">Pending:</label>
                <input type="radio" name="order_status" (change)="setOrderStatus()" value="P" [(ngModel)]="order.status">
            </div>
            <div class="col-12" id="">
                <span class="mr-2">Order Date:</span>
                <span id="no">
                    <strong>{{order.created_on | date}}</strong><br>
                </span>
            </div>
        </div>
        <!-- <div class="row">
                <div class="col-12 d-flex d-lg-flex align-items-baseline">
                    <label class="mr-2">Pending:</label>
                    <input type="radio" name="order_status" checked="" (change)="setOrderStatus()" value="P" [(ngModel)]="order.status">
                </div>
            </div> -->

        <!-- </section> -->
        <div class="row mb-3">
            <div class="col-12 d-flex d-lg-flex align-items-baseline">
                <label class="mr-2">Shipped:</label>
                <input type="radio" name="order_status" (change)="setOrderStatus()" value="S" [(ngModel)]="order.status">
            </div>
            <div class="col-12" id="">
                <span class="mr-2">Shipped Date:</span>
                <span id="">
                    <strong>{{order.shipped_date | date}}</strong><br>
                </span>
            </div>
        </div>
        <div class="row mb-3" *ngIf="order.status != 'S'">
            <div class="col-12 d-flex d-lg-flex align-items-baseline">
                <label class="mr-2">Cancelled:</label>
                <input type="radio" name="order_status" [(ngModel)]="order.status" value="C" (change)="setOrderStatus()">
            </div>
            <div class="col-12" id="">
                <span class="mr-2">Cancelled Date:</span>
                <span id="no">
                    <strong>{{order.cancelled_date | date}}</strong><br>
                </span>
            </div>
        </div>
        <div class="row py-3 my-2" id="order-info-2">
            <div class="col-12 col-lg-4 col-md-6 mb-2">
                <span class="d-block mb-1">Your estimated delivery date is:</span>
                <span class="d-block font-weight-bold mb-2"><strong>Jul 21, 2019</strong></span>
                <span class="d-block mb-1">Your shipping speed is:</span>
                <span class="d-block font-weight-bold mb-2"><strong>Standard Shipping</strong><br></span>
            </div>
            <div class="col-12 col-lg-4 col-md-6 mb-2">
                <span class="d-block">Shipping Address:</span>
                <span class="d-block font-weight-bold">
                    <span class="mr-2">
                        <strong>{{order.customer.shipping_address.first_name}}</strong>
                    </span>
                    <span>
                        <strong>{{order.customer.shipping_address.last_name}}</strong>
                    </span>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>{{order.customer.shipping_address.street}}</strong><br>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>
                        <span class="">{{order.customer.shipping_address.city}}</span>
                        <span class="mr-2">,</span>
                        <span class="">{{order.customer.shipping_address.province}}</span>
                    </strong><br>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>{{order.customer.shipping_address.postal_code}}</strong><br>
                </span>
            </div>
            <div class="col-12 col-lg-4 col-md-6 mb-2">
                <span class="d-block">Billing Address:</span>
                <span class="d-block font-weight-bold">
                    <span class="mr-2">
                        <strong>{{order.customer.billing_address.first_name}}</strong>
                    </span>
                    <span>
                        <strong>{{order.customer.billing_address.last_name}}</strong>
                    </span>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>{{order.customer.billing_address.street}}</strong><br>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>
                        <span class="">{{order.customer.billing_address.city}}</span>
                        <span class="mr-2">,</span>
                        <span class="">{{order.customer.billing_address.province}}</span>
                    </strong><br>
                </span>
                <span class="d-block font-weight-bold">
                    <strong>{{order.customer.billing_address.postal_code}}</strong><br>
                </span>
            </div>
        </div>
        <section>
            <div class="row d-lg-flex justify-content-lg-center d-none d-lg-flex pt-3 font-weight-bold">
                <div class="col-2 text-center col-lg-1">
                    <h5>Product</h5>
                </div>
                <div class="col-1 text-center col-lg-2">
                    <h5>Product No.</h5>
                </div>
                <div class="col-1 text-center col-lg-2">
                    <h5>Quantity</h5>
                </div>
                <div class="col-1 text-right">
                    <h5>Price</h5>
                </div>
                <div class="col-1 text-right">
                    <h5>Total</h5>
                </div>
                <div class="col-1 text-center">
                    <h5 *ngIf="order.status != 'S'">Delete</h5>
                </div>
            </div>
            <div class="row d-lg-flex justify-content-lg-center d-none d-lg-flex">
                <div class="col-12 text-center">
                    <hr class="mt-0">
                </div>
            </div>
            <ng-container *ngIf="products">
                <div class="row d-lg-flex justify-content-lg-center" *ngFor="let item of order.order_items">
                    <div class="col-6 text-center col-lg-1">
                        <img class="img-fluid" src="assets/img/{{getProductImg(item.product_no)}}">
                    </div>
                    <div class="col-11 col-lg-2 offset-md-1 offset-lg-0 text-lg-center">
                        <span class="mr-2 d-lg-none font-weight-bold">Item No.:</span>
                        <span>{{item.product_no}}</span>
                    </div>
                    <div class="col-11 col-lg-2 offset-md-1 offset-lg-0  text-lg-center">
                        <span class="mr-2 d-lg-none font-weight-bold">Quantity:</span>
                        <span>{{item.quantity}}</span>
                    </div>
                    <div class="col-11 col-lg-1 offset-md-1 offset-lg-0  text-lg-right">
                        <span class="mr-2 d-lg-none font-weight-bold">Price:</span>
                        <span>{{item.price | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                    <div class="col-11 col-lg-1 offset-md-1 offset-lg-0  text-lg-right">
                        <span class="mr-2 d-lg-none font-weight-bold">Total:</span>
                        <span>{{item.price * item.quantity | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                    <div class="col-11 col-lg-1 offset-md-1 offset-lg-0 text-lg-center">
                        <ng-container *ngIf="order.status != 'S'">
                            <span class="mr-2 d-lg-none font-weight-bold">Delete:</span>
                            <a (click)="deleteItem(order._id, item._id)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </ng-container>
                    </div>
                    <div class="col-12 text-center">
                        <hr>
                    </div>
                </div>
            </ng-container>
        </section>
    </section>
    <section>
        <div class="row">
            <div class="col-2 text-right offset-lg-5">
                <span>Subtotal</span>
            </div>
            <div class="col-2 text-right">
                <span class="font-weight-bold">
                    {{order.subtotal | currency:'USD':'symbol-narrow'}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-right offset-lg-5">
                <span>Tax</span>
            </div>
            <div class="col-2 text-right">
                <span class="font-weight-bold">
                    {{order.tax | currency:'USD':'symbol-narrow'}}
                </span>
            </div>
        </div>
        <div class="row red">
            <div class="col-2 text-right offset-lg-5"><span>Discount</span></div>
            <div class="col-2 text-right">
                <span id="discount" class="font-weight-bold">
                    {{order.discount | currency:'USD':'symbol-narrow'}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-3 text-right offset-lg-6">
                <hr>
            </div>
        </div>
        <div class="row pb-2" id="total-row">
            <div class="col-2 text-right offset-lg-5"><span>Total</span></div>
            <div class="col-2 text-right">
                <span class="font-weight-bold">
                    {{order.total | currency:'USD':'symbol-narrow'}}
                </span>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>