// $primary: #0277bd; 
// $secondary: #004c8c;
// $tertiary: #58a5f0;

$red: #a30000; 

$primary: #82b1ff; 
$secondary: #4d82cb;
$tertiary: #b6e3ff; 

#cart {
    #totals {
        background: white;
        padding: 0rem 2rem;
    }

    #items {
        background: white;
        padding: 1rem 2rem 0rem;
    }
    
    #title {
        font-weight: bold;
        font-style: italic;
        color: $tertiary;
    }
    
    i {
        color: $secondary;
        font-size: 1.5rem;

        &:hover {
            color: $primary;
        }
    }
    
    .trash {
        color: $red;
    }
    
    #total-row {
        font-size: 1.3rem;
    }
    
    .checkout {
        background: $secondary;
        font-weight: bold;
        padding: .5rem 4rem;
    }

    

}


.modal-header {
    button,
    h5 {
        color: $primary !important;            
    }        
}

.modal-footer {
    .btn-delete {
        background: $red;
    }
}