<div class="row mb-3">
    <div class="col-12 text-center d-md-flex justify-content-md-start col-md-8">
        <h1 class="page-heading">
            <em>{{headerName}}</em><br>
        </h1>
    </div>

    <div class="col-12 text-center d-md-flex justify-content-md-end col-md-4" *ngIf="destination">
        <button class="btn btn-primary d-lg-flex destination-button" type="button"
            
            routerLink="{{link}}">
            <i class="fa {{destinationIcon}} mr-2"></i>
            <strong>{{destination}}</strong>
        </button>
    </div>
</div>