
$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;
$button-blue: #4d82cb;;

.destination-button {
    background: $primary;
    font-weight: bold;
    min-width: 13.7rem;
    text-align: center !important;
    &:hover {
        background: $button-blue;
    }
}

.page-heading {
    color: #4d82cb;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
  }

  .fa { 
    font-size: 1.4rem;
}