<app-header></app-header>
<div class="container top-spacing">
    <app-page-header [headerName]="headerName" [destination]="destination" [destinationIcon]="destinationIcon" [link]="link">
    </app-page-header>
</div>
<div class="container top-spacing mb-5" id="orders">
    <section id="order">
        <section class="pt-4">
            <div class="row d-none d-lg-flex pt-3 font-weight-bold justify-content-center">
                <div class="col-2">
                    <h5>Order No.<br></h5>
                </div>
                <div class="col-2">
                    <h5>Order Date</h5>
                </div>
                <div class="col-3">
                    <h5>Customer</h5>
                </div>
                <div class="col-2">
                    <h5>Phone</h5>
                </div>
            </div>
            <div class="row d-none d-lg-flex">
                <div class="col-12">
                    <hr class="mt-0">
                </div>
            </div>
            <div class="row justify-content-center px-2 px-md-0" *ngFor="let order of orders">
                <div class="col-6 col-lg-2">
                    <a [routerLink]="['/order-picker', order.order_no]">
                        <span>{{order.order_no}}<br></span>
                    </a>
                </div>
                <div class="col-6 col-lg-2">
                    <a [routerLink]="['/order-picker', order.order_no]">
                        <span>{{order.created_on | date}}<br></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <span class="mr-1">
                        {{order.customer.shipping_address.first_name}}
                    </span>
                    <span>
                        {{order.customer.shipping_address.last_name}}
                    </span>
                </div>
                <div class="col-6 col-lg-2">
                    <span>{{order.customer.shipping_address.phone}}</span>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </section>

        <section class="mt-4 pt-4">
            <div class="row mb-4">
                <div class="col text-center"><span id="search-header">Order&nbsp;Search<br></span></div>
            </div>
            <form class="mb-3">
                <div class="form-row px-4 mb-2 mb-md-0">
                    <div class="col-12 col-md-4 col-lg-2 offset-lg-1 form-label">
                        <label class="col-form-label">Order No.:</label>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2 mb-2">
                        <input class="form-control" type="text" name="order_no" [(ngModel)]="searchCriteria.order_no">
                    </div>
                </div>
                <!-- <div class="form-row px-4">
                    <div class="col-12 col-md-4 col-lg-2 offset-lg-1 mb-2 form-label">
                        <label class="col-form-label">First Name:<br></label>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <input class="form-control" type="text" name="first_name" [(ngModel)]="searchCriteria.first_name">
                    </div>
                </div>
                <div class="form-row px-4">
                    <div class="col-12 col-md-4 col-lg-2 offset-lg-1 mb-2 form-label">
                        <label class="col-form-label">Last Name:<br></label>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <input class="form-control" type="text" name="last_name" [(ngModel)]="searchCriteria.last_name">
                    </div>
                </div> -->
                <div class="form-row text-left px-4">
                    <div class="col-12 text-left offset-md-4 offset-lg-3 col-md-8">
                        <div class="text-left" id="search">
                            <button class="btn btn-primary" type="button" (click)="searchOrder()">
                                <i class="fa fa-search mr-1"></i>SEARCH</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row d-none d-lg-flex pt-3 font-weight-bold justify-content-center">
                <div class="col-2">
                    <h5>Order No.<br></h5>
                </div>
                <div class="col-2">
                    <h5>Order Date</h5>
                </div>
                <div class="col-3">
                    <h5>Customer</h5>
                </div>
                <div class="col-2">
                    <h5>Phone</h5>
                </div>
            </div>
            <div class="row d-none d-lg-flex">
                <div class="col-12">
                    <hr class="mt-0">
                </div>
            </div>
            <div class="row justify-content-center px-2 px-md-0" *ngFor="let order of pendingOrders">
                <div class="col-6 col-lg-2">
                    <a (click)="getSearchedOrder(order.order_no)">
                        <span>{{order.order_no}}<br></span>
                    </a>
                </div>
                <div class="col-6 col-lg-2">
                    <a (click)="getSearchedOrder(order.order_no)">
                        <span>{{order.created_on | date}}<br></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <span class="mr-1">
                        {{order.customer.shipping_address.first_name}}
                    </span>
                    <span>
                        {{order.customer.shipping_address.last_name}}
                    </span>
                </div>
                <div class="col-6 col-lg-2">
                    <span>{{order.customer.shipping_address.phone}}</span>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </section>
        <!-- <section class="text-center mt-2">
            <div class="row text-center">
                <div class="col text-center d-md-flex justify-content-md-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section> -->
    </section>
</div>
<app-footer></app-footer>