<app-header></app-header>
<section id="confirmation-head">
    <div class="row my-3">
        <div class="col text-center">
            <h1>ORDER CONFIRMATION</h1>
        </div>
    </div>
</section>
<div class="container mb-5" id="confirmation">
    <section class="pt-4">
        <div class="row">
            <div class="col-12" id="order-no"><span class="mr-2">Order No.:</span><span id="no">8948393873</span></div>
        </div>
        <div class="row">
            <div class="col-12" id="order-no"><span class="mr-2">Placed On:</span><span id="no"><strong>Jul 18, 2019</strong><br></span></div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                <p id="thank-you">Thank you for shopping with us. We will send a confirmation once your order has shipped.
                    Your order detail are indicated below.&nbsp;<br></p>
            </div>
        </div>
        <div class="row py-3 my-2" id="order-info-2">
            <div class="col-12 col-lg-4 col-md-6 mb-2"><span class="d-block mb-1">Your estimated delivery date is:</span><span
                    class="d-block font-weight-bold mb-2"><strong>Jul 21, 2019</strong></span><span class="d-block mb-1">Your
                    shipping speed is:</span><span class="d-block font-weight-bold mb-2"><strong>Standard Shipping</strong><br></span></div>
            <div class="col-12 col-lg-4 col-md-6 mb-2"><span class="d-block">Shipping Address:</span><span class="d-block font-weight-bold"><strong>John&nbsp;
                        Admin</strong></span><span class="d-block font-weight-bold"><strong>40 Angular Place</strong><br></span><span
                    class="d-block font-weight-bold"><strong>Maynard, MA</strong><br></span>
                <span class="d-block font-weight-bold"><strong>12345</strong><br></span>
            </div>
            <div class="col-12 col-lg-4 col-md-6 mb-2"><span class="d-block">Billing Address:</span><span class="d-block font-weight-bold"><strong>Mary
                        Admin</strong></span><span class="d-block font-weight-bold"><strong>50 Node Plaza</strong><br></span><span
                    class="d-block font-weight-bold"><strong>Maynard, MA</strong><br></span>
                <span class="d-block font-weight-bold"><strong>12345</strong><br></span>
            </div>
        </div>
        <div class="row d-none d-lg-flex pt-3 font-weight-bold">
            <div class="col-2 text-center col-lg-1">
                <h5>Item</h5>
            </div>
            <div class="col text-center">
                <h5>Description</h5>
            </div>
            <div class="col-3 text-center">
                <h5>Edit Order</h5>
            </div>
            <div class="col-2 text-right">
                <h5>Price</h5>
            </div>
        </div>
        <div class="row d-none d-lg-flex">
            <div class="col-12 text-center">
                <hr class="mt-0">
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center col-lg-1"><img class="img-fluid" src="assets/img/18138675.jpg"></div>
            <div class="col text-left px-5"><span class="text-left"><br>This color block maxi dress features a surplice bodice
                    with elastic waistband for a slenderizing effect. Two tone is in this season, and metal embellishments
                    at the straps add extra interest.<br><br></span></div>
            <div class="col-6 text-center col-lg-3"><i class="fa fa-edit"></i></div>
            <div class="col-6 text-right col-lg-2"><span>$65.99</span></div>
            <div class="col-12 text-center">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center col-lg-1"><img class="img-fluid" src="assets/img/19061780.jpg"></div>
            <div class="col text-left px-5"><span class="text-left"><br>This color block maxi dress features a surplice bodice
                    with elastic waistband for a slenderizing effect. Two tone is in this season, and metal embellishments
                    at the straps add extra interest.<br><br></span></div>
            <div class="col-6 text-center col-lg-3"><i class="fa fa-edit"></i></div>
            <div class="col-6 text-right col-lg-2"><span>$65.99</span></div>
            <div class="col-12 text-center">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center col-lg-1"><img class="img-fluid" src="assets/img/18340142.jpg"></div>
            <div class="col text-left px-5"><span class="text-left"><br>This color block maxi dress features a surplice bodice
                    with elastic waistband for a slenderizing effect. Two tone is in this season, and metal embellishments
                    at the straps add extra interest.<br><br></span></div>
            <div class="col-6 text-center col-lg-3"><i class="fa fa-edit"></i></div>
            <div class="col-6 text-right col-lg-2"><span>$65.99</span></div>
            <div class="col-12 text-center">
                <hr>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col text-right offset-lg-6"><span>Subtotal</span></div>
            <div class="col text-right"><span class="font-weight-bold">$130.99</span></div>
        </div>
        <div class="row">
            <div class="col text-right offset-lg-6"><span>Tax</span></div>
            <div class="col text-right"><span class="font-weight-bold">$13.99</span></div>
        </div>
        <div class="row">
            <div class="col text-right offset-lg-6"><span>Discount</span></div>
            <div class="col text-right"><span id="discount" class="font-weight-bold">$10.99</span></div>
        </div>
        <div class="row">
            <div class="col text-right offset-lg-8">
                <hr>
            </div>
        </div>
        <div class="row pb-2" id="total-row">
            <div class="col text-right offset-lg-6"><span>Total</span></div>
            <div class="col text-right"><span class="font-weight-bold">$150.99</span></div>
        </div>
    </section>
</div>
<app-footer></app-footer>