
$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;
$body-background: #b6e3ff;

$red: #a30000; 

#confirmation {
    background: white;
    
    #order-no {
        font-size: 1.2rem;
        
        #no {
            font-weight: bold;
        }
    }
    
    .edit-order,
    .fa-edit {
        opacity: .5;
    }

    .fa-edit {
        color: $red;
    }
}

// #confirmation-head {
//     color: $tertiary;
//     font-style: italic;
    
//     h1 {
//         font-weight: bold;   
//     }            
// }
#thank-you {
    font-size: 1rem;
}

#order-info-2 {
    background: $secondary;
    color: white;
}
