$red: #a30000; 

$primary: #82b1ff; 
$secondary: #4d82cb;
$tertiary: #b6e3ff; 
$link-blue: #004c8c;

body {
    background: $tertiary !important; 
    font-family: 'Roboto';
    // max-width: 1040px;
    
    a {        
      text-decoration: none !important;
      color: $link-blue !important;
      cursor: pointer;
    }
}

.strike-through {
  text-decoration: line-through;
}

.red {
    color:$red;
}

.top-spacing {
    margin-top: 1rem;
}

.page-heading {
    color: $secondary;
    font-style: italic;
}

.fa-bars {
    color: white;
}

#go-to-bag {
    background: $secondary;
            // border-radius: 0;
    font-weight: bold;
} 

#add-to-bag {
    button {
        background: $secondary;
        // border-radius: 0;
        font-weight: bold;
    }
}

.view-shopping-bag {
    background: $secondary;
    font-weight: bold;
}

.visibility-hidden { 
    visibility: hidden;
  }

.fa-cart-arrow-down { 
    font-size: 1.4rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.2rem;
    height: 1rem;
}

.view-height {
    min-height: 75vh;
  }

  .header-wrapper {
    position: relative;
  
    .overlay {
      position: absolute;
      top: 9.7rem;
      left: 0;
      z-index: 10;
      width: 100vw;
      height: 120vh;
      background: rgba(0, 0, 0, 0.5);
      transition: .4s;
      
    }
  
    #header {
      z-index: 20; 
    }
  }
  
  i {
      font-size: 1.2rem;
  }

  fa-trash {
    &:hover {
        background: $primary;
    }
  }
  

@media(min-width: 768px) {
    .ml-md-16 {
        margin-left: 16rem;   
    }  
    .ml-md-20 {
        margin-left: 20rem;   
    }  
}

@media(min-width: 992px) {
    .ml-lg-21 {
        margin-left: 21rem;   
    }    
    
    .ml-lg-26 {
        margin-left: 26rem;   
    }  

    .view-height {
        min-height: 70vh;
      }
}

@media(min-width: 992px) {
    .view-height {
        // min-height: 50vh;
      }
}








