$primary: #0277bd; 
$secondary: #004c8c;
$tertiary: #58a5f0;
$button-blue: #4d82cb;;

#main-container {
    #price {
        font-size: 1.2rem;
    }
    
    #size {
        button {
            font-size: .8rem;
            background: $secondary;
            margin-right: .5rem;
            width: 2.6rem;
            border-radius: 0;

            &:hover {
                background: $button-blue;
            }
        }
    }
       
    #complete-look {
        .card {
        }
    }

    .add-to-cart {
        background: $primary;
        font-weight: bold;
        padding: .5rem;

        &:hover {
            background: $button-blue;
        }
    }

    .fa-cart-arrow-down { 
        font-size: 1.4rem;
    }
}